.App {
  text-align: center;
}

.video {
  background: lightgreen;
  border: .1rem solid blue;
  margin: .3rem;
  padding: .3rem;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}